*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/deploymentTargetSelector.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aar

# Test media files should be excluded from Git, only the manifest and readme should be committed
test-media/*.mp4
test-media/*.mkv
test-media/*.mov
test-media/*.wav
test-media/*.avi
