*.iml
.gradle
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/deploymentTargetSelector.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aar

local.properties
*.jks
*.keystore
test-media/*
!test-media/README.md

.kotlin/
